main.aux
main.bbl
main.blg
main.log
main.bcf
main.run.xml
main.out
main.toc
main.synctex.gz
main.lof
main.lot
main.fls
main.toc
main.fdb_latexmk
main.bbl-SAVE-ERROR
main.bcf-SAVE-ERROR
reviews/
engine/debug.log


